//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.9 Beta-6
//Part Number: GW2A-LV55PG484C8/I7
//Device: GW2A-55
//Device Version: C
//Created Time: Sat 12 16 13:13:02 2023

IO_LOC "uart0_txd" K20;
IO_PORT "uart0_txd" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio_portA[7]" R19;
IO_PORT "gpio_portA[7]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "gpio_portA[6]" V22;
IO_PORT "gpio_portA[6]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "gpio_portA[5]" T19;
IO_PORT "gpio_portA[5]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "gpio_portA[4]" U20;
IO_PORT "gpio_portA[4]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "gpio_portA[3]" T17;
IO_PORT "gpio_portA[3]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "gpio_portA[2]" U18;
IO_PORT "gpio_portA[2]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "gpio_portA[1]" U19;
IO_PORT "gpio_portA[1]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "gpio_portA[0]" U17;
IO_PORT "gpio_portA[0]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "jtag_tms" V17;
IO_PORT "jtag_tms" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "jtag_tclk" V16;
IO_PORT "jtag_tclk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "mcu_rst_signal" V14;
IO_PORT "mcu_rst_signal" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "clk27m" AB12;
IO_PORT "clk27m" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "uart0_rxd" L20;
IO_PORT "uart0_rxd" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
