//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.9 Beta-6
//Part Number: GW5A-LV25MG121NES
//Device: GW5A-25
//Device Version: A
//Created Time: Sun 01 07 22:25:53 2024

IO_LOC "uart0_txd" C3;
IO_PORT "uart0_txd" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio_portB[7]" A10;
IO_PORT "gpio_portB[7]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio_portB[6]" E10;
IO_PORT "gpio_portB[6]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio_portB[5]" K11;
IO_PORT "gpio_portB[5]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio_portB[4]" L5;
IO_PORT "gpio_portB[4]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio_portB[3]" A11;
IO_PORT "gpio_portB[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio_portB[2]" E11;
IO_PORT "gpio_portB[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio_portB[1]" L11;
IO_PORT "gpio_portB[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio_portB[0]" K5;
IO_PORT "gpio_portB[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio_portA[7]" G11;
IO_PORT "gpio_portA[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio_portA[6]" G10;
IO_PORT "gpio_portA[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio_portA[5]" D11;
IO_PORT "gpio_portA[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio_portA[4]" D10;
IO_PORT "gpio_portA[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio_portA[3]" B11;
IO_PORT "gpio_portA[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio_portA[2]" B10;
IO_PORT "gpio_portA[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio_portA[1]" C11;
IO_PORT "gpio_portA[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio_portA[0]" C10;
IO_PORT "gpio_portA[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "jtag_tms" L3;
IO_PORT "jtag_tms" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "jtag_tclk" L4;
IO_PORT "jtag_tclk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "uart0_rxd" B3;
IO_PORT "uart0_rxd" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "mcu_rst_signal" G1;
IO_PORT "mcu_rst_signal" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "clk50m" E2;
IO_PORT "clk50m" PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;
